### Given: A collection of at most 10 DNA strings of equal length (at most 1 kbp) in FASTA format.

Return: A consensus string and profile matrix for the collection. (If several possible consensus strings exist, then you may return any one of them.)

http://rosalind.info/problems/cons/

In [1]:
dna = ["ATCCAGCT","GGGCAACT","ATGGATCT","AAGCAACC","TTGGAACT","ATGCCATT","ATGGCACT"]

In [2]:
A = [0,0,0,0,0,0,0,0]
C = [0,0,0,0,0,0,0,0]
G = [0,0,0,0,0,0,0,0]
T = [0,0,0,0,0,0,0,0]

In [3]:
for dna_seq in dna:
    for i in range(len(dna_seq)):
        if dna_seq[i] == "A":
            A[i] += 1
        if dna_seq[i] == "C":
            C[i] += 1
        if dna_seq[i] == "G":
            G[i] += 1
        if dna_seq[i] == "T":
            T[i] += 1

In [4]:
A

[5, 1, 0, 0, 5, 5, 0, 0]

In [5]:
C

[0, 0, 1, 4, 2, 0, 6, 1]

In [6]:
G

[1, 1, 6, 3, 0, 1, 0, 0]

In [7]:
T

[1, 5, 0, 0, 0, 1, 1, 6]

In [8]:
import pandas as pd
df = pd.DataFrame({'A' : A,
                   'C' : C,
                   'G' : G,
                   'T' : T})

In [9]:
df

   A  C  G  T
0  5  0  1  1
1  1  0  1  5
2  0  1  6  0
3  0  4  3  0
4  5  2  0  0
5  5  0  1  1
6  0  6  0  1
7  0  1  0  6

In [10]:
# Get maximum value in each row along with the column associated with the value

maxValueIndexObj = df.idxmax(axis=1)
maxValueIndexObj

0    A
1    T
2    G
3    C
4    A
5    A
6    C
7    T
dtype: object

In [13]:
consensus_string = ""
for i in maxValueIndexObj:
    consensus_string += i
print("The consensus string from the given collection of DNA strings is:", consensus_string)

The consensus string from the given collection of DNA strings is: ATGCAACT